[package]
name = "nostui"
version = "0.1.0"
edition = "2021"
description = "A TUI client for Nostr"
keywords = ["nostr", "tui", "client", "ratatui"]
categories = ["command-line-utilities"]
repository = "https://github.com/akiomik/nostui"
homepage = "https://github.com/akiomik/nostui"
authors = ["Akiomi Kamakura <akiomik@gmail.com>"]
license = "MIT"
readme = "README.md"
include = ["src", "LICENSE", "README.md", "screenshot.gif", ".config"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
better-panic = "0.3.0"
chrono = "0.4.34"
clap = { version = "4.5.1", features = ["derive", "cargo", "wrap_help", "unicode", "string", "unstable-styles"] }
color-eyre = "0.6.2"
config = "0.14.0"
crossterm = { version = "0.27.0", features = ["serde", "event-stream"] }
derive_deref = "1.1.1"
directories = "5.0.1"
futures = "0.3.28"
human-panic = "1.2.3"
json5 = "0.4.1"
lazy_static = "1.4.0"
libc = "0.2.148"
log = "0.4.21"
nostr-sdk = "0.27"
ratatui = { version = "0.26.1", features = ["serde", "macros"] }
regex = "1.10.2"
serde = { version = "1.0.197", features = ["derive"] }
serde_json = "1.0.114"
signal-hook = "0.3.17"
sorted-vec = "0.8.3"
strip-ansi-escapes = "0.2.0"
strum = { version = "0.26.1", features = ["derive"] }
thousands = "0.2.0"
tokio = { version = "1.36.0", features = ["full"] }
tokio-util = "0.7.9"
tracing = "0.1.37"
tracing-error = "0.2.0"
tracing-subscriber = { version = "0.3.17", features = ["env-filter", "serde"] }
tui-textarea = "0.4.0"
tui-widget-list = "0.7.1"
unicode-width = "0.1.11"

[dev-dependencies]
pretty_assertions = "1.4.0"
rstest = "0.18.2"
